.site-title{
font-family:$font__title;
font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 4rem);
font-weight: bold;
color: #788A76;
margin-bottom: 0;
a{
text-decoration: none;
}
}
/*
.site-description{
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 3.5rem);
    font-weight: normal;
    color: #003;
    margin-top: 0;
}
.accueil{
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 3.5rem);
    ul{
        list-style-type: none;
    }
}
*/
body.home {

    height: 100vh;
    width: 100vw;

}

body.home::after {
   content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @include tablette {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 50% 100%);
        
    }

}

    .list-cours{
        display: flex;
        flex-direction: column;
        width: 100vw;
        
        section{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
       
        article{
            display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width:100%;
        background-color:#17260A ;
        border: 1px solid #aaa;

            @include tablette{
                justify-content: space-between;
                width: 32%;
            }

        p{
            font-size: clamp(0.7rem, #{"-0.875rem + 8.333vw"}, 1.1rem);
            font-weight: bold;
        }
        a{
            font-size: clamp(0.7rem, #{"-0.875rem + 8.333vw"}, 1.8rem);
            font-weight: bold;
            text-decoration: none;
            text-align: center;
        }
        
        }//fin article
    }
}