.carrousel_2{
    display: flex;
    width: 600vw;
    height: 30vh;
    transition: transform .5s;
    justify-content: center;
    flex-wrap: nowrap;
     .slide__conteneur{
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5rem;

            .slide{
                border-radius:1rem ;
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 4rem);
                color: black;
                
                

    
              
                img{
                    display: block;
                    margin: 2%;
                }
                .slide__info{
                    margin: 2%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-left: 0;
                    p{
                        font-size: .8rem;
                        font-weight: bold;
                        justify-content: center;
                        color: #404040;
                    }
                    a{
                        font-size: 1.5rem;
                        justify-content: center;
                        font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 2.3rem);

                    }


                }
                &:nth-of-type(1){
                    background-color :#17260A;
                }
                &:nth-of-type(2){
                    background-color: #537800;
                }
                &:nth-of-type(3){
                    background-color: #A3CF25;
                }

            }//Fin div

}

/*-----------------------------------------------------------------
------------------- Les boutons radios--------------------------*/
/*.boutons {

    width: 100vw; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #788A76;
    
    
    :nth-child(1),
    :nth-child(2),
    :nth-child(3) {
        margin: 32px;
        width: 3rem;
        height: 3rem;
    }

    input{
        display: none;
    }

}







#un,#deux,#trois {
    
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17260A;
    border-radius: 20%;
    border: none;
    

}

*/
}




.ctrl_carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    input{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;

    }


}